h1{
    color: green;
    background-color: rgb(228, 248, 174);
    font-family: serif;
}

.div-taller {
    height: 120px;
}

/*colour*/




.bg-smoothblue {
    background-color: rgb(171, 171, 239);
}

.bg-warning-subtle {
    background-color: #921A40;
}

.bg-warning-subtle1 {
    background-color: #C75B7A;
}

.bg-warning-subtle2 {
    background-color: #b72626;
}

.bg-warning-subtle3 {
    background-color: #792d13;
}

.bg-warning-subtle4 {
    background-color: #aaba19;
}

.bg-warning-subtle5 {
    background-color: #5ebb6c;
}

.bg-purple {
    background-color: #e6aad2;
}

.bg-purple1 {
    background-color: #b71897;
}

.bg-purple2 {
    background-color: #5d044d;
}

.bg-purple3 {
    background-color: #4b1f49;
}

.bg-green {
    background-color: #7bcf78;
}

.bg-green1 {
    background-color: #09ff00;
}

.bg-green2 {
    background-color: #06b900;
}

.bg-green3 {
    background-color: #046f00;
}

.bg-green4 {
    background-color: #023a00;
}

.bg-green5 {
    background-color: #122512;
}

.bg-yellow {
    background-color: #c8d212;
}

.bg-yellow1{
    background-color: #93970e;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #CFC9C0;
    color: #fff;
    font-size: 0.9rem;
}